@media screen and (max-width: 480px){
    .logo img{
        width: 260px;
        height: 1300px;
        margin-top: -590px;
    }
    .temp{
        overflow: hidden;
    }
    .nav{
        display: none;
    }
    .svg-text:nth-child(2){
        margin-top: -20vh;
        font-size: 250px;
    }
}