@media screen and (max-width: 480px){
    .logo img{
        width: 260px;
        height: 1300px;
        margin-top: -590px;
    }
    .temp{
        overflow: hidden;
    }
    .nav{
        display: none;
    }
    .svg-text:nth-child(2){
        y:20% !important;
        font-size: 25px !important; 
    }
    .svg-text:nth-child(1){
        font-size: 25px !important; 
    }
    .preloader svg{
        width: 320px !important;
        height: auto;
    }
}